<div class="card">
  <div class="card-header header-title">
    <span class="section-title">Loans</span>
    <button class="btn btn-primary btn-color" type="button">
      Add New Loan
    </button>
  </div>

  <div style="border-style: solid; border: 2px; height: calc(100vh - 250px)">
    <div class="card-body header-title">
      <div class="input-group mb-3 ipt-width">
        <span class="input-group-text material-icons" id="basic-addon1"
          >search</span
        >
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="icon-btn">
        <button class="material-icons" type="button">filter_alt</button>
        <button class="material-icons" type="button">filter_alt_off</button>
        <button class="material-icons" type="button">sort</button>
        <button class="material-icons" type="button">download</button>
        <button class="material-icons" type="button">width_normal</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
