
.sidebar-section {
  background-color: #fff;
  color: black;
  font-size: 16px;
  font-weight: 500;
  border-style:groove;
  border-top: 0px;
  border-bottom: 0px;
}

.menu-item {
  list-style: none;
  display: flex;
  align-content: center;
  padding: 5px 5px 5px 5px;
  cursor: pointer;
  padding: 10px 15px;
    margin: 5px 0;
    cursor: pointer;
    background-color: #e0e0e0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px; // Space between icon and text
    transition: all 0.3s;

    &:hover {
      background-color: #d6d6d6;
    }

    &.active {
      background-color: #001f3f;
      color: white;
      font-weight: bold;
    }

    i {
      margin-left: 50px;
      font-size: 20px;
      background-color: black;
    }
  }
